[user]
    name = spfaus
    email = simon.pfaus@web.de
[pull]
    rebase = false
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
